body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#main {
  display: flex;
  flex-grow: 1;
}

#content {
  flex: 4 1 0%;
}

#left-bar {
  /*flex-basis: 200px;*/
  flex: 1 1 0%;
  order: -1;
}

#right-bar {
  /*flex-basis: 150px;*/
  flex: 1 1 0%;
}

#header,
#footer {
  padding: 20px;
}

#main * {
  padding: 20px;
  border: 1px solid #FFF;
}